$orange: rgb(177,48,25);
$red: rgb(170,24,24);
$cream: #faf9f0;
$grey: #333;
$grey2: #555;

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body {
    background-color: $grey;
    color: $cream;
}

.heading {
    width: 210px;
    margin: 0 auto;
}

.logoimg {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.name {
    float: right;
    color: $cream;
    font-size: 25px;
    margin-top: 24%;
    font-family: 'Syncopate', sans-serif;
}

nav {
    margin-top: 5px;
    clear: both;
}

button {
    width: 100%;
    height: 45px;
    background: $red;
    border: none;
    color: $cream;
    font-size: 18px;
    font-family: 'Syncopate', sans-serif;
    margin-top: 2px;
    text-decoration: none;
    padding-top: 6px;
}

button:hover {
    text-decoration: none;
    color: $grey;
}

button:active {
    border: none;
}

button:visited {
    border: none;
}

section {
    padding-bottom: 30px;
}

h3 {
    color: $cream;
    font-size: 30px;
    font-family: 'Syncopate', sans-serif;
    margin: 30px 0px 20px 0px;
    padding-top: 15px;
}

.media {
    width: 100%;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-caption {
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    font-size: 17px;
}

p {
    width: 100%;
    margin-top: 15px;
    color: $cream;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.textcont {
    text-align: justify;
}

.meattext {
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu {
    background-image: url("paper.png");
    background-size: cover;
    border-radius: 5px;
    border: 1px solid $red;
    color: $grey;
    padding: 15px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.menuhead {
    font-size: 25px;
    color: $red;
    font-weight: bold;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    padding-top: 5px;
}

.menusubhead {
    font-size: 17px;
    color: $red;
    margin-left: 3px;
    text-align: center;
}

ul {
    margin-left: -25px;
}

li {
    list-style-type: none;
    padding: 4px;
}

.listhead {
    font-size: 20px;
    color: $red;
}

.attend {
    margin-bottom: 25px;
}

.booking {
    border: 1px solid $cream;
    padding: 0px 10px 3px 10px;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}

.form {
    text-align: justify;
}

form {
    font-family: 'Syncopate', sans-serif;
    width: 95%;
    padding: 10px;
    margin: 0 auto;

    button {
        width: 100px;
        padding: 8px 5px 5px 5px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input {
        padding: 4px;
        width: 44%;

        &:focus {
            border: 2px solid $red;
        }
    }

    label {
        font-weight: bold;
    }
}

.footer {
    margin-top: 15px;
    padding: 10px;
    border-top: 1px solid $cream;
}

.icons {
    text-align: left;
    width: 100px;
    float: left;
}

i {
    color: $cream;
    font-size: 35px;
    margin: 0px 5px 5px 5px;

    &:hover {
        color: $red;
    }
}

.copyright {
    font-family: 'Syncopate', sans-serif;
    font-size: 12px;
    padding-top: 8px;
    text-align: left;
    padding-bottom: 5px;
    width: 290px;
}


@media screen and (min-width: 375px) {
    .copyright {
    float: right;
    width: 210px;
    }
}

@media screen and (min-width: 475px) {
    nav {
    text-align: center;
    }

    button {
    display: inline-block;
    width: 24%;
    height: 34px;
    font-size: 14px;
    margin-left: 0;
    margin-top: 0;
    }

    form button {
    width: 100px;
    padding: 8px 5px 5px 5px;
    height: 30px;
    margin-top: 10px;
    font-size: 18px;
    }

    form input {
    width: 60%;
    }
}

@media screen and (min-width: 525px) {
    .mediacont {
    width: 80%;
    margin: 0 auto;
    }
}

@media screen and (min-width: 575px) {
    button {
    width: 24%;
    height: 36px;
    font-size: 17px;
    }

    .booking {
    width: 80%;
    }

    .copyright {
    width: 375px;
    text-align: right;
    padding-top: 12px;
    }
}

@media screen and (min-width: 675px) {
    .mediacont {
    width: 70%;
    }

    .textcont {
    width: 90%;
    margin: 0 auto;
    }

    p {
    font-size: 17px;
    }

    .menu {
    width: 80%;
    margin: 0 auto;
    }
}

@media screen and (min-width: 775px) {
    .mediacont {
    width: 65%;
    }

    .textcont {
    width: 85%;
    margin: 0 auto;
    }
}

@media screen and (min-width: 900px) {
    body {
    margin-top: 115px;
    }

    .top {
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: $red;
    }

    .strip {
    height: 80px;
    width: 75px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $cream;
    z-index: 3;
    }

    .heading {
    width: 180px;
    margin-left: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    }

    .logoimg {
    margin-top: 3px;
    float: left;
    }

    .name {
    font-size: 20px;
    margin-top: 26%;
    color: $cream;
    }

    nav {
    position: absolute;
    top: 18px;
    right: 0px;
    margin-right: 4px;
    width: 83%;
    z-index: 3;
    }

    button {
    width: 21%;
    }

    .content {
    width: 55%;
    margin: 0 auto;
    }

    h3 {
    font-size: 35px;
    margin: 100px 0px 20px 0px;
    }

    .mediacont {
    width: 90%;
    }

    .textcont {
    width: 100%;
    }

    p {
    width: 100%;
    font-size: 18px;
    }
}

@media screen and (min-width: 1100px) {
    button {
    font-size: 20px;
    }

    h3 {
    font-size: 45px;
    margin: 100px 0px 20px -30px;
    }
}

@media screen and (min-width: 1200px) {
    .mediacont {
    width: 80%;
    }
}
