$orange: rgb(177,48,25);
$red: rgb(170,24,24);
$cream: #faf9f0;
$grey: #333;
$grey2: #555;

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body {
    background-color: $grey;
    color: $cream;
}

.heading {
    width: 210px;
    margin: 0 auto;
}

.logoimg {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.name {
    float: right;
    color: $cream;
    font-size: 25px;
    margin-top: 24%;
    font-family: 'Syncopate', sans-serif;
}

nav {
    margin-top: 5px;
    clear: both;
}

button {
    width: 100%;
    height: 45px;
    background: $red;
    border: none;
    color: $cream;
    font-size: 18px;
    font-family: 'Syncopate', sans-serif;
    margin-top: 2px;
    text-decoration: none;
    padding-top: 6px;
}

button:hover {
    text-decoration: none;
    color: $grey;
}

section {
    padding-bottom: 30px;
}

h3 {
    color: $cream;
    font-size: 30px;
    font-family: 'Syncopate', sans-serif;
    margin: 30px 0px 20px 0px;
}

.media {
    width: 100%;
}

p {
    width: 100%;
    margin-top: 15px;
    color: $cream;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}


@media screen and (min-width: 475px) {
    nav {
    text-align: center;
    }

    button {
    display: inline-block;
    width: 24%;
    height: 34px;
    font-size: 14px;
    margin-left: 0;
    margin-top: 0;
    }
}

@media screen and (min-width: 525px) {
    .mediacont {
    text-align: center;
    }

    .media {
    width: 80%;
    }
}

@media screen and (min-width: 575px) {
    button {
    width: 24%;
    height: 36px;
    font-size: 17px;
    }
}

@media screen and (min-width: 675px) {
    .media {
    width: 70%;
    }

    .textcont {
    width: 90%;
    margin: 0 auto;
    }

    p {
    font-size: 17px;
    }
}

@media screen and (min-width: 775px) {
    .media {
    width: 65%;
    }

    .textcont {
    width: 85%;
    margin: 0 auto;
    }
}

@media screen and (min-width: 900px) {
    body {
    margin-top: 115px;
    }

    .top {
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: $red;
    }

    .strip {
    height: 80px;
    width: 75px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $cream;
    z-index: 3;
    }

    .heading {
    width: 180px;
    margin-left: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    }

    .logoimg {
    margin-top: 3px;
    float: left;
    }

    .name {
    font-size: 20px;
    margin-top: 26%;
    color: $cream;
    }

    nav {
    position: absolute;
    top: 18px;
    right: 0px;
    margin-right: 4px;
    width: 83%;
    z-index: 3;
    }

    button {
    width: 21%;
    }

    .content {
    width: 55%;
    margin: 0 auto;
    }

    h3 {
    font-size: 35px;
    margin: 100px 0px 20px 0px;
    }

    .media {
    width: 90%;
    }

    .textcont {
    width: 100%;
    }

    p {
    width: 100%;
    font-size: 18px;
    }
}

@media screen and (min-width: 1100px) {
    button {
    font-size: 20px;
    }

    h3 {
    font-size: 45px;
    margin: 100px 0px 20px -30px;
    }
}

@media screen and (min-width: 1200px) {
    .media {
    width: 80%;
    }
}
